body {
    font-family: Arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}


header {
    background: #2c3e50;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
    max-width: 800px;
    margin: auto;
}




button:focus {
    outline: 3px solid #f1c40f;
}

.card-lasanha {
    width: 320px;
    border: 2px solid #2e7d32;
    padding: 15px;
    margin: 20px auto;
}

.card-lasanha img {
    max-width: 100%;
    height: auto;
}

.card-ravioli {
    width: 320px;
    border: 2px solid #2e7d32;
    padding: 15px;
    margin: 20px auto;
}

.btn-pedir {
    background-color: #1b5e20;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}




footer {
    text-align: center;
    padding: 1rem;
    background: #2c3e50;
}


