*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#topo-loja{
    background-color: #2c3e50;
    color: whitesmoke;
    padding: 20px;
    text-align: center;
}

#bt_menu, #label_menu{
    display: none;

}

#menu ul{
    list-style: none;
    margin-top: 10px;
}

#menu li{
    display: inline-block; /*coloca links um do lado do outro*/
    margin: 0 10px; /*da um espaçamento entre eles*/
}

#menu a{
    color: bisque; /*cor ao link*/
    text-decoration: none; /*tira o sublinhado*/
    font-weight: bold; /*texto mais espesso, como se estivesse em negrito*/
}

#menu a:hover{
    color: rgb(246, 246, 177) ;
}

.titulo-secao{
    text-align: center;
    margin-top: 30px;
    color:  #2c3e50;
}

/*estrutura inicial GRID - desktop*/

.vitrine-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px; /*espaço entre colunas*/
    padding: 20px;

}

/*conteúdo*/
.card{
    border: 1px solid rgb(53, 48, 134);
    padding: 15px; /*distancia entre texto e borda*/
    border-radius: 5px; /*arredondar bordas*/
    text-align: center;
}
.card img{
    max-width: 100%;
    height: auto; /*auto adapta de acordo com o width, mantem a proporcao*/
    border-radius: 4px;
}

.preco{
    display: block;
    color: red;
    font-weight: bold;
    margin: 10px 0;
}

.bt_pedido{
    background: #27ae60;
    color: antiquewhite;
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: 100%;
    cursor: pointer;
}

.bt_pedido:hover{  /*muda a cor do botao com o cursor*/
    background-color: green;
    color: #2c3e50;
}

#rodape{
    background-color: #2c3e50;
    color: antiquewhite;
    padding: 30px;
    margin-top: 40px;
    text-align: center;
}

/*media*/
@media screen {
    /*altera o espaço entre as letras*/
    #topo-loja h1{
        letter-spacing: 0.5px;
    }
}

@media only screen and (max-width: 480px){
    h1{
        font-size: 1.2rem; 
    }
}

/*tela tablet*/
@media screen and (min-width: 601px) and (max-width:1024px) {
    .vitrine-grid{
        grid-template-columns: repeat(2, 1fr);
    }
}

/*tela celular*/
@media screen and (max-width: 600px), (orientation: portrait){
    /*menu hamburguer/ retratil*/
    #label_menu{
        display: block;
        font-size: 2.5rem;
        color: #f1c40f;
        cursor: pointer;
        margin-top: 10px;
    }

    /*tira o menu*/
    #menu ul{
        display: none;
    }

    /*verificando o bt_menu se está clicado ou se tem irmão*/
    #bt_menu:checked ~ #menu ul{
        display: block;
        padding: 10px 0;
    }

    .vitrine-grid{
        grid-template-columns: 1fr;
    }

    .desc{
        display: none;
    }

    #menu li{
        display: block;
        margin: 15px 0;
        border-bottom: 1px solid #c1ccd7;
        padding-bottom: 10px;
    }
}

@media not screen{
    #menu, .bt_pedido, #label_menu, #bt_menu{
        display: none;
    }
}

