*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


.caixa {
width: 100px;
padding: 10px;
border: 1px solid black;
margin-bottom: 50px;
}

.caixa2 {
box-sizing: border-box; /* A MÁGICA! */
width: 100px;
padding: 10px;
border: 1px solid black;
}

/* Seleciona a lista DENTRO da tag nav */
nav ul {
/* Remove os marcadores (bullets) */
list-style:none;
/* Remove o espaçamento padrão do navegador */
margin: 0;
padding: 0;
/* (Opcional) Define um fundo para a barra de menu */
background-color: pink;
}

/* Seleciona os itens da lista
DENTRO da nav */
nav li {
display: inline-block;
}

/* Seleciona os links DENTRO dos itens da lista da nav */
nav li a {
display: block; /* Faz o link se comportar como bloco (ocupa o
<li>) */
color: purple;
text-decoration: none;
padding: 1rem; /* 1rem = 16px (espaçamento interno) */
/* O resultado é um botão de 16px de padding em todos os
lados */
}

nav li a:hover{
background-color: palevioletred;
color: brown;
border: 1px solid white;
}

/* 1. Esconde o submenu por padrão */
nav ul ul {
display: none;
position: absolute; /* (Tópico avançado, mas necessário aqui) */
background-color: plum; /* Fundo para o dropdown */
}

/* 2. Mostra o submenu quando o <li> pai está em :hover */
nav ul li:hover > ul {
display: block;
}

/* 3. Estiliza os itens do submenu para ficarem verticais */
nav ul ul li {
display: block;
width: 200px; /* Largura para o dropdown */
}
