body{
    /*background-color: aquamarine;
    */
    background-image: url(../src/images/imagemTeste3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: #dc143c;
    background-color: blue;
}

p{
    color: yellow;
    background-color: black;
}

table{
    border: 1px solid black;
    width: 500px;
    border-spacing: 5px;
    margin-left: auto;
    margin-right: auto;
}

td{
    border: 1px solid black;
    padding: 10px;
    background-image:url(.../src/images/imagemTeste2.jpg);
}

th{
    border: 1px solid black;
    padding: 5px;
}